html, body {
  height: 100%;
  margin: 0;
}

#webGLCanvas {
  /* position: absolute; */
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 100;
  background:transparent;
}

.button {
  padding: 4px 6px;
  /* text-align: center; */
  font-size: 16px;
  width: 200px;
}
.controlPanel {
  position: fixed;
  z-index: 200;
}
.controlPanelButton {
  position: fixed;
  z-index: 190;
  color: white;
  text-shadow: 1px 1px black;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  background:transparent;
}
#videoSource {
  /* position: relative; */
  padding: 4px 6px;
  top: 5px;
}
#videoMuteBtn {
  /* position: fixed; */
  display: block;
  z-index: 200;
  /* top: 5px; */
  /* width: 200px; */
}
#pauseBtn {
  /* position: fixed; */
  display: block;
  z-index: 200;
  /* top: 35px; */
}
.timecode {
  position: fixed;
  top: 12px;
  left: 45px;
  color: lightgrey;
  text-shadow: 1px 1px black;
}
#timecodeDiv {
  /* position: fixed; */
  z-index: 200;
  /* top: 65px; */
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px black;
  font-family: Arial, Helvetica, sans-serif;
}

.videoBgWrapper {
  /* position: fixed; */
  position: relative;
  top: 0;
  right: 0;
  /* bottom: 0;
  left: 0; */
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: 100%;
}
.videoBg{
  /* position: absolute; */
  /* top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow:hidden */
  z-index: -100;

  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);        
background-color: black;
}

@media (min-aspect-ratio: 16/9) {
  .videoBg{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .videoBg {
    width: auto;
    height: 100%;
  }
}